*{}
.input{
    margin:auto;
    width: 350px;
}
.form-control{
    background-color: #ffc0cb;
}
.btn {
    background-color: #ea2858
}
.imge{    
    margin-right:25px;
    width: 150px;
    height:150px;
    border-radius: 50%;
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid white 3px;
    padding: 2px;
    margin-top: 1px;
    margin-left: calc(0% - 0px);
    grid-area: ava ava;
}

nav > ul {
    display: flex;
    width: 35vw;
    flex-direction: row;
    justify-content: space-around;
  }
   nav > ul > li {
    list-style: none;
    padding: 50px;
    border-radius: 4px;
  }
  nav > img{
    margin-right:25px;
    width: 150px;
    height:150px;
    border-radius: 50%;
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid white 3px;
    padding: 2px;
    margin-top: 1px;
    margin-left: calc(0% - 0px);
    grid-area: ava ava;
    
  }
  nav > ul > li:hover {
    background-color:pink;
  }