*{}
.input{
    margin:auto;
    width: 350px;
}
.form{
  margin: 10%;
}
.form-control{
    background-color: #ffc0cb;
}
.btn {
    background-color: #ea2858
}
.imge{    
    margin-right:25px;
    width: 150px;
    height:150px;
    border-radius: 50%;
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid white 3px;
    padding: 2px;
    margin-top: 1px;
    margin-left: calc(0% - 0px);
    grid-area: ava ava;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  min-height: 50 px;
  padding: 0px 20px;
  align-items: right;
  width: 100%;
  background-color: black;
}
div > li:hover {
  background-color:black;
}

div > li
{
  margin-left:450px;
  margin-top:50px;
  padding:5px;
  background-color: rgb(247, 129, 190);
   float:right;
  list-style: none;
  border: solid black;
  padding: 8px;
  border-radius: 0px;
}
.navbar navbar-expand-lg navbar-light bg-light{
  padding:0px;
}
footer{
  background-color:black;
  padding:0.8em;
  color:white;
  text-align:center;
  bottom: 1px;
}


nav > ul {
    display: flex;
    width: 35vw;
    flex-direction: row;
    justify-content: space-around;
  }
   nav > ul > li {
    list-style: none;
    padding: 50px;
    border-radius: 4px;
  }
  nav > img{
    margin-right:25px;
    width: 150px;
    height:150px;
    border-radius: 50%;
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid white 3px;
    padding: 2px;
    margin-top: 1px;
    margin-left: calc(0% - 0px);
    grid-area: ava ava;
    
  }
  nav > ul > li:hover {
    background-color:pink;
  }